pyannote.audio
transformers
PyAudio
numpy
scipy
google-cloud-speech
langchain
ctransformers
sentence-transformers
librosa
pydub
unstructured
faiss-cpu
langchain
googletrans
noisereduce
fairseq
g2p-en
Flask